{% extends "base/base.html" %}
{% load static %}


{% block additional_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
{% endblock additional_scripts %}

{% block additional_body %}
<!--    <canvas id="myChart" width="50" height="50"></canvas>-->
    <select class="js-example-basic-single" name="state">
      <option value="AL">Alabama</option>
      <option value="AL">Alabama</option>
      <option value="AL">Alabama</option>
      <option value="AL">Alabama</option>
      <option value="AL">Alabama</option>
      <option value="AL">Alabama</option>
      <option value="WY">Wyoming</option>
    </select>

    <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
      <option value="AL">Alabama</option>

      <option value="WY">Wyoming</option>
    </select>
{% endblock additional_body %}

{% block additional_script_in_body %}
<!--     <script src="{% static 'home/home_charts.js' %}"></script>-->
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
            $('.js-example-basic-multiple').select2();
        });

        // $(document).ready(function() {
        //
        // });

    </script>
{% endblock additional_script_in_body%}