<!doctype html>

{#{% extends 'mainTemplate/main.html'%}#}
{#{% load crispy_forms_tags %}#}
{#{% load bootstrap4 %}#}
{% block title %}Create an Account{% endblock %}

{% block content %}
    <div>


    </div>

    <div class="container-sm  pt-5" >
         <form method="POST" class="form-group w-25">
            {% csrf_token %}
{#            {{ form | crispy }}#}
            {{ form  }}
	    <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>

{% endblock %}