{% extends "award/base.html" %}
{% load static %}

{% block additional_scripts %}
<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
{% endblock additional_scripts %}

{% block additional_body %}

<div id="app" class="container">

    <award-html></award-html>
<!--    <Multiselect v-model="value" :options="options" :searchable="false" :close-on-select="false" :show-labels="false" placeholder="Pick a value"></Multiselect>-->

</div>

<script type="text/x-template" id="award-template">
<div>
    <button type="button"
            class="btn btn-primary m-2 fload-end"
            data-bs-toggle="modal"
            data-bs-target="#edit-info-modal"
            @click="addClick()">
         Create Award
    </button>

    <button type="button" class="btn btn-primary m-2 fload-end" v-on:click="showApproved = true">
         show approved
     </button>
    <button type="button" class="btn btn-primary m-2 fload-end" v-on:click="showApproved = false">
         show unapproved
     </button>

    <div id="table">
<!--        <bootstrap-table :columns="tableColumns" :data="awards" :options="options"></bootstrap-table>-->
        <bootstrap-table :columns="tableColumns"
                         :data="awards"
                         :options="tableOptions"
                         data-filter-control="true"
                         data-show-search-clear-button="true"
        >

        </bootstrap-table>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Award Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Received
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="award in awards">
                <td v-if="showApproved && award.approved || !showApproved && !award.approved">{% verbatim block %}{{award.id}}{% endverbatim block %}</td>
                <td v-if="showApproved && award.approved || !showApproved && !award.approved">{% verbatim block %}{{award.title}}{% endverbatim block %}</td>
                <td v-if="showApproved && award.approved || !showApproved && !award.approved">{% verbatim block %}{{award.received_date}}{% endverbatim block %}</td>

                <td v-if="showApproved && award.approved || !showApproved && !award.approved">
                    <button v-if="user.is_staff || user.is_student && !showApproved " type="button"
                    class="btn btn-light mr-1"
                    data-bs-toggle="modal"
                    data-bs-target="#edit-info-modal"
                    @click="editClick(award)">
                        <i class="bi bi-pencil-square"></i>
                    </button>

                    <button v-if="user.is_staff || user.is_student && !showApproved && (award.created_by == user.id)" type="button" @click="deleteClick(award.id)"
                        class="btn btn-light mr-1">
                        <i class="bi bi-trash"></i>
                    </button>

                </td>
            </tr>

        </tbody>

    </table>


<!--    <div class="modal fade" id="edit-info-modal" tabindex="-1"-->
    <div class="modal fade" id="edit-info-modal" tabindex="-1"
         aria-labelledby="ModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">{% verbatim block %}{{modalTitle}}{% endverbatim block %}</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="d-flex flex-row bd-highlight mb-3">

                    <div class="p-1 w-50 bd-highlight">

                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" class="form-control" v-model="award.title">

                        </div>

                        <div v-if="!addingNewAward" class="input-group mb-3">
                            <span class="input-group-text">rank</span>
                            <input type="number" class="form-control" min="0" v-model="award.rank">
                        </div>

                        <div v-if="!addingNewAward" class="input-group mb-3">
                            <span class="input-group-text">Received Date</span>
                            <input type="date" class="form-control" v-model="award.received_date">
                        </div>

                        <div v-if="!addingNewAward" class="input-group mb-3">
                            <span class="input-group-text">info</span>
                            <input type="text" class="form-control" v-model="award.info">
                        </div>


                        <div v-if="!addingNewAward" class="skill">
                            <h3>Skills</h3>
<!--                            <div class="form-row" v-for="(skill, index) in award.skills" :key="index">-->
<!--&lt;!&ndash;                                <select v-model="skill.id" class="form-control sl">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <option v-for="e in skillTable" v-bind:value="e.id">&ndash;&gt;-->
<!--&lt;!&ndash;                                        {% verbatim block %}{{ e.title }}{% endverbatim block %}&ndash;&gt;-->
<!--&lt;!&ndash;                                    </option>&ndash;&gt;-->
<!--&lt;!&ndash;                                </select>&ndash;&gt;-->
<!--&lt;!&ndash;                                <multiselect v-model="award.skills[index]" :options="skillTable" :custom-label="skillCustomLabel" track-by="id" placeholder="Select...">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <template slot="clear" slot-scope="props">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="multiselect__clear" v-if="award.skills.length" @mousedown.prevent.stop="clearAll(props.search)"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </template>&ndash;&gt;-->
<!--&lt;!&ndash;                                </multiselect>&ndash;&gt;-->

<!--                            </div>-->
                            <multiselect v-model="award.skills" :hide-selected="true"  :close-on-select="false" :multiple="true" :options="skillTable" :custom-label="skillCustomLabel" track-by="id" placeholder="Select..." >
<!--                                <template slot="clear" slot-scope="props">-->
<!--                                  <div class="multiselect__clear" v-if="true" @mousedown.prevent.stop="clearAll(props.search)"></div>-->
<!--                                </template>-->
                            </multiselect>

<!--                            <div class="form-group">-->
<!--                              <button v-on:click="addInputFieldClick('skills')" type="button" class="btn btn-secondary">Add skill</button>-->
<!--                              <button v-on:click="removeInputFieldClick('skills')" type="button" class="btn btn-danger">Remove skill</button>-->
<!--                            </div>-->
                        </div>

                        <div v-if="user.is_staff && !addingNewAward" class="receiver">
                            <h3>Receivers</h3>
<!--                                <multiselect v-model="award.receivers[index]" :options="studentTable" :custom-label="receiverCustomLabel" track-by="id" placeholder="Select..." :allow-empty="false" deselect-label="Can't remove this value"></multiselect>-->
                                <multiselect v-model="award.receivers" :hide-selected="true"  :close-on-select="false" :multiple="true" :options="studentTable" :custom-label="receiverCustomLabel" track-by="id" placeholder="Select..."></multiselect>
                        </div>

                        <div v-if="!addingNewAward" class="staff">
                            <h3>Supervisors</h3>
                            <multiselect v-model="award.supervisors" :hide-selected="true"  :close-on-select="false" :multiple="true" :options="staffTable" :custom-label="supervisorCustomLabel" track-by="id" placeholder="Select..."></multiselect>


                        </div>

                        <div v-if="!addingNewAward" class="mb-3">
<!--                            <input v-bind:disabled="award.approved" type="checkbox" value="approved" v-model="checkboxes"/>-->
                            <input type="checkbox" value="approved" v-model="checkboxes"/>
                            <label>&nbsp;approved&nbsp;&nbsp;</label>
                            <input type="checkbox" value="used_for_calculation" v-model="checkboxes"/>
                            <label>&nbsp;Use for calculation</label>
                        </div>

                        <div v-if="!addingNewAward" class="mb-3">
                            <label><h3>Attachment link</h3></label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Attachment Link</span>
                                <input id="attachment_link_form" type="text" class="form-control" v-model="award.attachment_link">
                            </div>
                        </div>

                        <p></p>

                        <div v-if="!addingNewAward" class="mb-3">
                            <label for="formFile" class="form-label"><h3>Attachment file</h3></label>
                            <p></p>
                            <label id="attachment_filename" for="formFile" class="form-label"><a v-bind:href="this.award.attachment_file"><h6>File url</h6></a></label>
                            <input class="form-control" type="file" id="formFile" @change="onFileSelected">
                        </div>

                        <!--                        <End of inputs>-->
                    </div>



                </div>

            </div>

            <div class="modal-footer">
                <button id="createButton" type="button" @click="createClick()"
                    v-if="addingNewAward" class="btn btn-primary" >
                    Create
                </button>

                <button v-if="!addingNewAward && (user.is_staff || user.is_student && (award.created_by == user.id))" id="updateButton" type="button" @click="updateClick()"
                     class="btn btn-primary">
                    Update
                </button>
            </div>

        </div>


        </div>

    </div>
</div>
</script>
{% endblock additional_body %}


{% block additional_script_in_body %}
    <script src="{% static 'js/award/award.js' %}"></script>

<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $('.js-example-basic-single').select2({-->
<!--                dropdownParent: $("#edit-info-modal")-->
<!--            });-->
<!--            // $('.js-example-basic-multiple').select2();-->

<!--            // $("#botState").select2({-->
<!--            //     dropdownParent: $("#edit-info-modal")-->
<!--            // });-->
<!--        });-->
<!--        -->
<!--    </script>-->


{% endblock additional_script_in_body%}