{% extends "profile/base.html" %}
{% load static %}

{% block additional_body %}

<div id="app" class="container">

    <skillgroup-html></skillgroup-html>

</div>



<script type="text/x-template" id="skillgroup-template">

    <button type="button"
            class="btn btn-primary m-2 fload-end"
            data-bs-toggle="modal"
            data-bs-target="#edit-info-modal"
            @click="addClick()">
         Add Skillgroup
    </button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Skillgroup Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="sg in skillgroups">
                <td>{% verbatim block %}{{sg.id}}{% endverbatim block %}</td>
                <td>{% verbatim block %}{{sg.name}}{% endverbatim block %}</td>
                <td>
                    <button type="button"
                        class="btn btn-light mr-1"
                        data-bs-toggle="modal"
                        data-bs-target="#edit-info-modal"
                        @click="editClick(sg)">
                        <i class="bi bi-pencil-square"></i>
                    </button>

                    <button type="button" @click="deleteClick(sg.id)"
                        class="btn btn-light mr-1">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="edit-info-modal" tabindex="-1"
        aria-labelledby="edit-info-modal-label" aria-hidden="true">

        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="edit-info-modal-label">{% verbatim block %}{{modalTitle}}{% endverbatim block %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="d-flex flex-row bd-highlight mb-3">

                        <div class="p-2 w-50 bd-highlight">

                            <div class="input-group mb-3">
                              <span class="input-group-text">Name</span>
                              <input type="text" class="form-control" v-model="skillgroup.name">
                            </div>

                            <div v-if="!addingNewSkillgroup" class="input-group mb-3">
                                <span class="input-group-text">Info</span>
                                <input type="text" class="form-control" v-model="skillgroup.info">
                            </div>

                            <div v-if="!addingNewSkillgroup" class="skillgroup">
                                <h3>Skills</h3>

<!--                                <div class="form-row" v-for="(skill, index) in skillgroup.skills" :key="index">-->
<!--                                    <select v-model="skill.skill_id_fk" class="form-control sl">-->
<!--                                        <option v-for="e in skills" v-bind:value="e.id">-->
<!--                                            {% verbatim block %}{{ e.id }}{% endverbatim block %} {% verbatim block %}{{ e.title }}{% endverbatim block %}-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                    <input type="number" class="form-control" step="any" v-model="skill.goal_point">-->
<!--                                </div>-->

                                <div v-for="(skill, index) in skillgroup.skills" :key="index">

<!--                                    <div class="row">-->
                                        <div class="col-xs-6 form-group">
                                            <select v-model="skill.skill_id_fk" class="form-control sl">
                                                <option v-for="e in skills" v-bind:value="e.id">
                                                    {% verbatim block %}{{ e.id }}{% endverbatim block %} {% verbatim block %}{{ e.title }}{% endverbatim block %}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-xs-6 form-group">
                                            <input type="number" class="form-control" step="any" v-model="skill.goal_point">
                                        </div>
<!--                                    </div>-->

                                </div>

<!--                                <div class="form-row" v-for="(skill, index) in skillgroup.skills" :key="index">-->

<!--                                    <div class="input-group mb-3">-->
<!--                                      <span class="input-group-text">Goal Point</span>-->
<!--                                      <input type="text" class="form-control" v-model="skill.goal_point">-->
<!--                                    </div>-->

<!--                                </div>-->

                                <div class="form-group">
                                  <button @click="addSkillClick()" type="button" class="btn btn-secondary">Add Skill</button>
                                  <button @click="removeSkillClick()" type="button" class="btn btn-danger">Remove Skill</button>
                                </div>

                            </div>

                            <hr>

                            <button id="createButton" type="button" @click="createClick()"
                                v-if="addingNewSkillgroup" class="btn btn-primary" >
                                Create
                            </button>

                            <button id="updateButton" type="button" @click="updateClick()"
                                v-else class="btn btn-primary">
                                Update
                            </button>


                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


</script>

{% endblock additional_body %}

{% block additional_script_in_body %}
    <script src="{% static 'js/profile/skillgroup.js' %}"></script>
{% endblock additional_script_in_body%}