{% extends "base/base.html" %}
{% load static %}

{% block additional_body %}

<div id="app" class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--              <a class="navbar-brand" href="#">Navbar</a>-->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-item nav-link active" href="/project">projects</a>
<!--                      <a class="nav-item nav-link active" href="/requestedProject" >Proposed projects</a>-->
<!--                      <a class="nav-item nav-link" href="#">Features</a>-->
<!--                      <a class="nav-item nav-link" href="#">Pricing</a>-->
<!--                      <a class="nav-item nav-link disabled" href="#">Disabled</a>-->
                    </div>
              </div>
        </nav>

    <project-html></project-html>

</div>

<script type="text/x-template" id="project-template">

    <button type="button"
            class="btn btn-primary m-2 fload-end"
            data-bs-toggle="modal"
            data-bs-target="#edit-info-modal"
            @click="addClick()">
         Propose Project
         </button>

    <button type="button" class="btn btn-primary m-2 fload-end" v-on:click="showApproved = true">
         show approved
     </button>
    <button type="button" class="btn btn-primary m-2 fload-end" v-on:click="showApproved = false">
         show unapproved
     </button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Project Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Main Staff Id
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="proj in projects">
                <td v-if="showApproved && proj.approved || !showApproved && !proj.approved">{% verbatim block %}{{proj.projectId}}{% endverbatim block %}</td>
                <td v-if="showApproved && proj.approved || !showApproved && !proj.approved">{% verbatim block %}{{proj.title}}{% endverbatim block %}</td>
                <td v-if="showApproved && proj.approved || !showApproved && !proj.approved">{% verbatim block %}{{proj.start_date}}{% endverbatim block %}</td>
                <td v-if="showApproved && proj.approved || !showApproved && !proj.approved">{% verbatim block %}{{proj.end_date}}{% endverbatim block %}</td>
                <td v-if="showApproved && proj.approved || !showApproved && !proj.approved">{% verbatim block %}{{proj.mainStaffId}}{% endverbatim block %}</td>
                <td v-if="showApproved && proj.approved || !showApproved && !proj.approved">
                    <button v-if="user.is_staff || !showApproved" type="button"
                    class="btn btn-light mr-1"
                    data-bs-toggle="modal"
                    data-bs-target="#edit-info-modal"
                    @click="editClick(proj)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </button>

                    <button v-if="user.is_staff || !showApproved" type="button" @click="deleteClick(proj.projectId)"
                    class="btn btn-light mr-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </button>

                </td>
            </tr>

        </tbody>

    </table>


    <div class="modal fade" id="edit-info-modal" tabindex="-1"
         aria-labelledby="ModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">{% verbatim block %}{{modalTitle}}{% endverbatim block %}</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="d-flex flex-row bd-highlight mb-3">

                    <div class="p-1 w-50 bd-highlight">

                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" class="form-control" v-model="project.title">

                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Start Date</span>
                            <input type="date" class="form-control" v-model="project.start_date">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">End Date</span>
                            <input type="date" class="form-control" v-model="project.end_date">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Main Staff Id</span>
                            <select class="form-select" v-model="project.mainStaffId">
                                <option v-for="staff in staffs">
                                    {% verbatim block %}{{staff.staffId}}{% endverbatim block %}
                                </option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">info</span>
                            <input type="text" class="form-control" v-model="project.info">
                        </div>

                        <h3>Skills</h3>
                        <div class="skill">
                            <div class="form-row" v-for="(skill, index) in project.skills" :key="index">
                                <select v-model="skill.skillId" class="form-control sl">
                                    <option v-for="e in skillTable" v-bind:value="e.skillId">
                                        {% verbatim block %}{{ e.title }}{% endverbatim block %}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                              <button v-on:click="addSkillClick()" type="button" class="btn btn-secondary">Add skill</button>
                              <button v-on:click="removeSkillClick()" type="button" class="btn btn-danger">Remove skill</button>
                            </div>
                        </div>

<!--                        <p></p>-->

                        <div v-if="!addingNewProject" class="mb-3">
                            <input v-bind:disabled="project.approved" type="checkbox" value="approved" v-model="checkboxes"/>
                            <label>&nbsp;approved&nbsp;&nbsp;</label>
                            <input type="checkbox" value="used_for_calculation" v-model="checkboxes"/>
                            <label>&nbsp;Use for calculation</label>
                        </div>

<!--                        <p></p>-->
                        <div v-if="!addingNewProject" class="input-group mb-3">
                            <label ><h3>Attachment link</h3></label>
                            <span class="input-group-text">Attachment Link</span>
                            <input id="attachment_link_form" type="text" class="form-control" v-model="project.attachment_link">

                        </div>

                        <div v-if="!addingNewProject" class="mb-3">
                            <label for="formFile" class="form-label"><h3>Attachment file</h3></label>
                            <p></p>
                            <label id="attachment_filename" for="formFile" class="form-label"><a v-bind:href="this.project.attachment_file"><h6>File url</h6></a></label>
                            <input class="form-control" type="file" id="formFile" @change="onFileSelected">
                        </div>

<!--                        <End of inputs>-->
                    </div>



                </div>

            </div>

            <div class="modal-footer">
                <button id="createButton" type="button" @click="createClick()"
                    v-if="addingNewProject" class="btn btn-primary" >
                    Create
                </button>

                <button id="updateButton" type="button" @click="updateClick()"
                    v-else class="btn btn-primary">
                    Update
                </button>
            </div>

        </div>



        </div>

    </div>

</script>
{% endblock additional_body %}

{% block additional_script_in_body %}
    <script src="{% static 'project/projects.js' %}"></script>
{% endblock additional_script_in_body%}